{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome</h2>
    <p><strong>Brighton and Hove Python User Group</strong> is a collection of people interested in the <a href="http://www.python.org">Python programming language</a> and related technologies in the city of <strong>Brighton and Hove</strong>, on the south coast of England.</p>

    <h2>Upcoming Meetings</h2>
    {% for meeting in future_meeting_list %}
        {% include "includes/meeting.html" %}
    {% else %}
        <p>No meetings currently planned. <a href="{{ url_for('archive') }}">Click here for past meetings.</a></p>
    {% endfor %}

    <h2>Elsewhere on the web</h2>
    <ul>
        <li>Follow <a href="http://twitter.com/brightonpy">@brightonpy</a> on Twitter.</li>
        <li>Join <a href="http://groups.google.com/group/brightonpy">our Google Group</a></li>
        <li>BrightonPy is part of <a href="http://www.brightarray.org/">BrightArray</a></li>
    </ul>

{% endblock %}
