{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome</h2>
    <p><strong>Brighton and Hove Python User Group</strong> is a collection of people interested in the <a href="http://www.python.org">Python programming language</a> and related technologies in the city of <strong>Brighton and Hove</strong>, on the south coast of England.</p>

    <h2>Upcoming Meetings</h2>
    {% for meeting in meeting_list %}
        <div class="vevent">
            <p>
                <abbr class="dtstart" title="{{ meeting.date|datetimeformat("Y-m-d") }}T19:0000">{{ meeting.date|datetimeformat("%A %B %d, %Y")}}, 7pm</abbr>
                at <span class="location"><a href="{{ url_for("page", path="location") }}">{{ meeting.venue }}</a></span>
            </p>
            <p class="summary"><a href="{{ url_for("meeting", date=meeting.path) }}">{{ meeting.title }}</a></p>
            <div class="description">{{ meeting.speaker }}</div>
        </div>
    {% endfor %}

    <h2>Elsewhere on the web</h2>
    <ul>
        <li>Follow <a href="http://twitter.com/brightonpy">@brightonpy</a> on Twitter.</li>
        <li>Join <a href="http://groups.google.com/group/brightonpy">our Google Group</a></li>
    </ul>

{% endblock %}
