{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome</h2>
    <p><strong>Brighton and Hove Python User Group</strong> is a collection of people interested in the <a href="http://www.python.org">Python programming language</a> and related technologies in the city of <strong>Brighton and Hove</strong>, on the south coast of England.</p>

    <h2>Upcoming Meetings</h2>

    <p>BrightonPy meetings take place on the second Tuesday of every month, usually at <a href="{{ url_for('page', path='location') }}">The Skiff</a>. Keep an eye on this site and our <a href="http://twitter.com/brightonpy">Twitter feed</a> for announcements.</p>

    {% for meeting in future_meeting_list %}
        {% include "includes/meeting.html" %}
    {% else %}
        <p>No meetings currently planned. <a href="{{ url_for('meetings') }}">Click here for past meetings.</a></p>
    {% endfor %}

    <div class="elsewhere" >
        <h2>Elsewhere on the web</h2>

        <div id="twitter">
            <h3>Follow us on <a href="http://twitter.com/brightonpy">Twitter</a></h3>

            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 3,
              interval: 6000,
              width: 225,
              height: 300,
              theme: {
                shell: {
                  background: '#6dc34b',
                  color: '#000000'
                },
                tweets: {
                  background: '#c4f4b7',
                  color: '#000000',
                  links: '#226903'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
              }
            }).render().setUser('brightonpy').start();
            </script>
        </div>


        <div id="googlegroup">
            <h3>Join our Google Group</h3>
            <img src="http://groups.google.com/intl/en/images/logos/groups_logo_sm.gif" height=30 width=140 alt="Google Groups">
            <h4>Subscribe to Brighton and Hove Python User Group</h4>
            <form action="http://groups.google.com/group/brightonpy/boxsubscribe">
                <p><label for="google_email">Email: </label><input id="google_email" type=text name=email /></p>
                <p><input type=submit name="sub" value="Subscribe" /></p>
            </form>
            <p><a href="http://groups.google.com/group/brightonpy">Visit this group</a></p>
        </div>
    </div>

{% endblock %}
